@keyframes modal-animation {
    0% {
      opacity: 0;
      transform: scale(0.25) rotateX(-0deg) perspective(1000px);
    }
  
    50% {
      opacity: 0, 5;
      transform: scale(0.75) rotateX(-180deg) perspective(1000px);
    }
  
    100% {
      opacity: 1;
      transform: scale(1) rotateX(-360deg) perspective(1000px);
    }
  }