.product-section {
  @extend %section;
  padding-top: 0px;
  &__item {
    position: relative;
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 370px;
    height: 70px;
    background-color: var(--overlay-bg-cl);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    font-family: var(--main-fn);
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-cl);
  }
}
