.team-section {
  @extend %section;
  width: 100%;
  background-color: var(--secondary-bg-cl);

  &__list {
    --item: 4;
    gap: var(--gap);
  }

&__item {
    background-color: var(--main-bg-cl);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 30px;
}

&__item >img {
    margin-bottom: 30px;
}

  &__subtitle {
    font-family: var(--main-fn);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-cl);
    margin-bottom: 10px;
  }

  &__text {
    font-family: var(--main-fn);
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-cl);
    margin-bottom: 16px;
  }
}
